# =========================
# Файлы операционных систем
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Python (стандартные исключения)
# =========================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# =========================
# Файлы этого проекта
# =========================
# Временный файл структуры, который мы только что создали
project_structure.txt

# Кэш моделей (вектора лиц). Они пересоздаются автоматически и только захламляют репозиторий
db/*.pkl

# Фотографии с камер и логи доступов (чтобы не слить в сеть чужие фото и историю)
records/*.jpg
records/*.csv
registros/*.csv

# Сохраняем структуру пустых папок для логов
!records/.gitkeep
!registros/.gitkeep

db/*.jpg